@import 'colors';

$tray_margin: 0 0.65rem;
$primary_color: #BD95F9;
$background_color: #222;

* {
    all: unset;
    font-size: 1.1rem;
}

.bar {
    background: $background_color;
    margin: 5px 5px 0 5px;
    opacity: 0.9;
    border-radius: 5px;
}

.workspace {
    &__entry {
        padding: 0 0.75rem;
        padding-top: 2px;
        margin-bottom: 2px;

        &--empty {
            color: #555;
        }

        &--occupied {
            color: white;
        }


        &--current {
            color: white;
            background: #444;
            border-bottom: 2px solid $primary_color;
            margin-bottom: 0;
            animation: fade 1s linear 1 reverse;
            animation-fill-mode: forwards;
        }
    }
}

tooltip.background {
    background: #555;
    border-radius: 5px;
}

scale trough {
    all: unset;
    background-color: #22242b;
    box-shadow: 0 2px 3px 2px #06060b;
    border-radius: 16px;
    min-height: 10px;
    min-width: 70px;
    margin: 0px 20px 0px 0px;
}

.clock {
    &__seperator {
        color: gray;
        font-weight: bold;
    }
}

.date {
    &__text {
        font-weight: bold;
        font-size: 0.7rem;
        color: $primary_color;
        text-shadow: 2px 2px 2px #06060b;
    }
}

.cpu,
.mem,
.gpu {
    font-family: Iosevka Nerd Font Mono;

    &__progress {
        background: #555;
    }

    &__label {
        font-size: 1.4rem;
    }

    .cpu__progress,
    .cpu__label {
        color: #127cc1;
    }

    .mem__progress,
    .mem__label {
        color: #00944b;
    }

    .gpu__progress,
    .gpu__label {
        color: #ED1C24;
    }

}

.weather {
    font-family: Weather Icons;

    &__icon {
        color: gray;
        font-size: 1.5rem;

    }

    &__temp {
        font-weight: bold;
        text-shadow: 2px 2px 2px #06060b;

        &--freezing {
            color: lightblue;
        }

        &--cold {
            color: white;
        }

        &--warm {
            color: orange;
        }

        &--hot {
            color: orangered;
        }
    }
}

.volume {
    font-family: Iosevka Nerd Font;
    margin: $tray_margin;

    &__icon {
        font-size: 1.4rem;
        padding-right: 0.75rem;
    }

    &__scale {

        trough highlight {
            border-radius: 10px;
            background: $primary_color;
        }
    }
}

.playerctl {
    &__title {
        font-weight: bold;
        color: gray;
        text-shadow: 2px 2px 2px #06060b;
    }

    &__artist {
        font-size: 0.75rem;
        color: $primary_color;
        text-shadow: 2px 2px 2px #06060b;
    }


    &__label-box {
        margin: $tray_margin;
        padding: 0 0.75rem;
        background-size: cover;
        background-position: 25%;
        border-radius: 5px;
        transition: all 1s;

        &--start {
            padding-right: 2rem;
        }

        &--end {
            padding-left: 2rem;
        }
    }
}

.battery {
    color: lightgreen;

    &__text {
        font-size: 0.9rem;
    }
}

.calendar {
    background: $background_color;
    opacity: 0.9;
    padding: 1rem;

    &:selected {
        background: $primary_color;
    }
}

.device_selector {
    background: $background_color;
    opacity: 0.9;
    padding: 0.5rem;

    .button {
        &--selected {
            background: $primary_color;
        }
    }
}

.portage {
    margin: $tray_margin;

    .label-box {
        &__icon {
            font-family: Iosevka Nerd Font Mono;
            font-size: 2.2rem;
        }

        &--updates {
            color: lightgreen;
        }

        &--rebuilds {
            color: lightsalmon;
        }

        &--downgrades {
            color: $primary_color;
        }
    }

    .reload-label {
        font-size: 2.2rem;
        font-family: Iosevka Nerd Font Mono;
        transition: color 1s;
        padding-right: 0.5rem;

        &--loading {
            color: gray;
        }
    }
}

.usb-mount {
    &__label {
        margin: $tray_margin;
        padding-right: 0.54rem;
    }

    &__selector {
        background: #222;
        opacity: 0.9;
        padding: 0.5rem;
    }
}
